<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>BanglaBar</string>
	<key>CFBundleDisplayName</key>
	<string>BanglaBar</string>
	<key>CFBundleIdentifier</key>
	<string>cc.rafat.banglabar</string>
	<key>CFBundleExecutable</key>
	<string>BanglaBar</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
</dict>
</plist>
